html, body {
	margin: 0px;
	padding: 0px;
}

.TodoBoardBodyHeader {
	position: fixed !important;
	top: 0;
}

.TodoBoardBody {
	padding-top:64px;
}

.TodoBoardAddButton {
	position: fixed;
	z-index: 999;
	bottom: 20px;
	right: 20px;
}

.TodoCardContainer {
	display: flex;
	flex-wrap: wrap;
}

.TodoCard {
	margin: 10px;
}

@media (max-width: 479px) {
	.TodoCard {
		width: 100%;
	}
}